body, html{
  height: 100%;
}

#hoff_logo{
  position: relative;
  bottom: 0px;
  padding-left: 40px;
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 20px;


  display: inline;
  float: left;
  margin-left: 10px;
  margin-top: 30px;
}

#hoff_logo:hover{
  position: relative;
  bottom: 0px;
  padding-left: 40px;
  max-width: 190px;
  max-height: 190px;
}

header{
  background-color: #fff;
  /* display: grid;
  grid-template-columns: 10% 90%; */
}

#topLeftNav{
  color: black;
  font-size: 3.4mm;
  padding-left: 40px;
  padding-top: 3px;
  font-family: 'Fira Sans Extra Condensed',sans-serif;
  font-weight: 300;
}

#topLeftNav a{
  color: #606060;
  text-decoration: none;
}

#topLeftNav a:hover{
  color: #F7B97D;
}

.languageSelect{
  float: right;
  padding-right: 40px;
  font-size: 3.8mm;
  color: #3eadef;
}

#rightNav{
  float: right;
  padding-right:20px;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline;
  margin-top: 20px;
  margin-right: 30px
}

#rightNav a{
  text-decoration: none;
  color: #0e1417;
  text-transform: uppercase;
  padding: 5px;
}


#rightNav a:hover{
  color: #F7B97D;
}

.dropbtn {
  background-color: #FFFFFF;
  border: none;
  color: black;
}

.dropbtn :active{
  text-decoration: none;
  box-shadow: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  text-align: right;
  background-color: #FFFFFF;
  display: none;
  z-index: 1;
  padding: 5px;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #F7B97D;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #FFFFFF;
}


#heroImage{
  width: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


.infotext{
  width: 50%;
  float: left;
  z-index: 10;
  opacity: .2;
}

/*
.infotext_right{
width: 50%
}
.infotext_left{
width: 50%
}*/

.text_right{
  background-color: #0e1417;
  color: white;
  text-align: center;
  padding: 20px;
}

.text_left{
  background-color: gray;
  color:  #0e1417;
  text-align: center;
  padding: 20px;
}

#kolmeneEsitus{
  text-align: center;
}

#kolmeneEsitus .firstBlock,
#kolmeneEsitus .secondBlock,
#kolmeneEsitus .thirdBlock {
  display:inline-block;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

#kolmeneEsitus img{
  max-width: 400px;
  max-height: 200px;
}

.fiveBlock{
  text-align: center;
}

.fiveBlock .card{
  display:inline-block;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

footer{
  bottom: 0px;
  background-color: #0e1417;
  color: white;
  /*position: fixed;*/
}