/*body, html{
    height: 100%;
  }*/ 
  

  header{
    background-color: #fff;
    position:absolute;
    width: 100%;
    margin-top: -50px;
    /* display: grid;
    grid-template-columns: 10% 90%; */
  }


  #hoff_logo{
    position:absolute;
    padding-left: 20px;
    max-width: 240px;
    max-height: 240px;
    padding-bottom: 20px;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  #hoff_logo:hover{
    max-width: 235px;
    max-height: 235px;
  }
  
  
  #topLeftNav{
    color: black;
    font-size: 3.2mm;
    padding-left: 20px;
    padding-top: 5px;
    font-family: 'Fira Sans Extra Condensed',sans-serif;
    font-weight: 300;
  }
  
  
  #topLeftNav a.languageSelect{
    color: #3eadef;
  }
  
  #topLeftNav a{
    color: #606060;
    text-decoration: none;
    padding: 10px;
    font-weight: lighter;
  }
  
  #topLeftNav a:hover{
    color: #F7B97D;
  }
  
  .languageSelectContainer{
    float: right;
  }

  .languageSelect{
    font-size: 3.8mm;
  }
  
  #rightNav{
    float: right;
    padding-right:20px;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline;
    margin-top: 30px;
    margin-right: -10px;
  }
  
  #rightNav a,
  #rightNav button{
    text-transform: uppercase;
    font-weight: lighter;
    text-decoration: none;
    color: #0e1417;
    padding: 5px;
  }
  
  
  
  
  #rightNav a:hover{
    color: #F7B97D;
  }
  
  .dropbtn {
    background-color: #FFFFFF;
    border: none;
    color: black;
  }
  
  .dropbtn :active{
    text-decoration: none;
    box-shadow: none;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    text-align: right;
    background-color: #FFFFFF;
    display: none;
    z-index: 1;
    padding: 5px;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    color: #F7B97D;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #FFFFFF;
  }
  
  
  .mainBackground{
    margin-top: 50px;
    cursor: pointer;
  }
  
  
  #heroImage{
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  
  
  .infotext{
    float: left;
    z-index: 10;
    opacity: .8;
    bottom: 14rem;
    height: 14rem;

  }
  
  /*
  .infotext_right{
  width: 50%
  }
  .infotext_left{
  width: 50%
  }*/
  
  .infotext_left{
    position: relative;
    width: 65%;
    font-size: 3rem;
    background-color: #0e1417;
    color: white;
    text-align:left;
    padding: 50px;
  }
  

  .infotext_right{
    position: relative;
    width: 35%;
    background-color: rgb(211, 211, 211);
    color:  #0e1417;
    text-align: left;
    padding: 50px;
  }

  
  

  #kolmeneEsitus-cotainer{
    position:absolute;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  

  #kolmeneEsitus-cotainer img{
    width: 400px;
    height: 200px;
  }

  .imgText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
  }


  #kolmeneEsitus-cotainer .firstBlock,
  #kolmeneEsitus-cotainer .secondBlock,
  #kolmeneEsitus-cotainer .thirdBlock {
    position: relative;
    display:inline-block;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
  }
  
  
  
  .fiveBlock{
    position: relative;
    margin-top: 24rem;
    text-align: center;
  }
  
  .fiveBlock .card{
    display:inline-block;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
  }
  
  footer{
    bottom: 0px;
    background-color: #0e1417;
    color: white;
    /*position: fixed;*/
  }
  
  .sectionHeadlineFooter{
    color:#29333a;
    font-family:'Fira Sans Extra Condensed',sans-serif;
    font-size:calc(1.618rem + 1.618vw);
    line-height:1.168;
    font-weight:500;
    letter-spacing:.04em;
    text-align:center;
    margin:0;
    padding:0;
    padding-left:calc(1rem + 1vw);
    padding-right:calc(1rem + 1vw);
    margin-top:6rem;
    margin-bottom:3rem
  }
  
  .footer_logos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(6rem,6rem));
    grid-template-rows:3rem;
    justify-content:center;
    justify-items:center;
    align-items:center;
    grid-gap:2rem}
  
  .footer_logo_item_container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%
  }
  
  .footer_logo_item{
    width:100%;
    max-height:100%;
    -o-object-fit:contain;
    object-fit:contain;
    cursor: pointer;
  }

  .navbar_toggle{
  visibility: hidden;
  }

  .headerDiv-mobile{
    visibility:hidden;
  }
/* mobiili osa */

  @media screen and (max-width: 800px){
    
    .infotext_left{
      width: 100%;
      font-size: 2rem;
    }

    .infotext_right{
      width: 100%;
      font-size: 0.5rem;
    }

    .infotext{
      height: 7rem;
      float: none;
    }

    
    .navbar_toggle{
      visibility: visible;
      position: absolute;
      right: 5px;
    }

    .bar{
      position: relative;
      display: flex;
      flex-direction: column;
      background: #0e1417;
      width: 25px;
      height: 3px;
      margin: 5px 5px;
    }

   

    .headerDivv{
      visibility: hidden;
    }

    .headerDiv-mobile{
      visibility: visible;
    }


}

