body, html{
  height: 100%;
} 


*{
 /*  margin: 0;
  padding: 0; */
  box-sizing: border-box;
  line-height: 1.618rem;
}

div{
  display: block;
}



/*HEADERI OSA ALGAB */

header{
  background-color: #fff;
  position:fixed;
  width: 100%;
  z-index: 999;
  /* display: grid;
  grid-template-columns: 10% 90%; */
}


#hoff_logo{
  position:absolute;
  padding-left: 20px;
  max-width: 240px;
  max-height: 240px;
  padding-bottom: 20px;
  display: inline;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#hoff_logo:hover{
  max-width: 235px;
  max-height: 235px;
  filter: brightness(110%);
}


#topLeftNav{
  color: black;
  font-size: 3.2mm;
  padding-left: 20px;
  padding-top: 5px;
  font-family: 'Fira Sans Extra Condensed',sans-serif;
  font-weight: 300;
}


#topLeftNav a.languageSelect{
  color: #3eadef;
}

#topLeftNav a{
  color: #606060;
  text-decoration: none;
  padding: 10px;
  font-weight: lighter;
}

#topLeftNav a:hover{
  color: #F7B97D;
}

.languageSelectContainer{
  float: right;
}

.languageSelect{
  font-size: 3.8mm;
}

#rightNav{
  float: right;
  padding-right:20px;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline;
  margin-top: 30px;
  margin-right: -10px;
}

#rightNav a,
#rightNav button{
  text-transform: uppercase;
  font-weight: lighter;
  text-decoration: none;
  color: #0e1417;
  padding: 5px;
}




#rightNav a:hover{
  color: #F7B97D;
}

.dropbtn {
  background-color: #FFFFFF;
  border: none;
  color: black;
}

.dropbtn :active{
  text-decoration: none;
  box-shadow: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  text-align: right;
  background-color: #FFFFFF;
  display: none;
  z-index: 1;
  padding: 5px;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #F7B97D;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #FFFFFF;
}


/*HEADERI OSA LÄBI */


/*PÕHI TAUST*/

.mainBackground{
  cursor: pointer;
  height: 100vh;
  width: 100vw;

  }

.heroImage{
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  height: 100vh;  
  margin: auto;
}

.infotextContainer{
  position: absolute;
  display: grid;
  grid-template-columns: 65% 35%;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-template-rows: auto;

}

.infotext{
  /*position: absolute;
  float: left;
  z-index: 10;
  opacity: .8;
  bottom: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;*/
}


.infotext_left{
  position: relative;
  font-size: 3rem;
  background-color: #0e1417;
  color: white;
  text-align:left;
  padding: 40px;
}


.infotext_right{
  position: relative;
  background-color: rgba(255,255,255,0.8);
  color:  #0e1417;
  text-align: left;
  padding: 40px;
}

/*PÕHI TAUST LÄBI*/


/*KOLMENE BLOKK*/

.trio_block{
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 2rem;
  background-color: #fff;
}

.trio_block_item{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.96);
}

.container_frame_12_5{
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 41%;
  background: #29333a;
}

.trio_image{
  width: 100%;
}

.container_contents_12_5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn_trio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  color: rgba(255,255,255,0.96);
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.618rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


/*KOLMENE BLOKK läbi*/




.fiveBlock{
  width: 100vw;
  margin-top: 1rem;
  display: grid;
  grid-template-columns:repeat(6,minmax(120px,1fr));
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 2rem;
  cursor: pointer;
  align-items: start;
  justify-content: center;
}

.card{
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: left;
 
}

.cardTop{
}

.cardBottom{

}

.card-title{
  font-size: 2rem;
  font-weight: 400;
}

.card-text{
  font-weight: lighter;
}

.card-body{
  height: 15rem;
  

}

.card1{
  grid-row: 1;
  grid-column: 1 / 4;
}

.card2{
  grid-row: 1;
  grid-column: 4 / -1;
}

.card3{
  grid-row: 2;
  grid-column: 1 / 3;
}

.card4{
  grid-row: 2;
  grid-column: 3 / 5;
}

.card5{
  grid-row: 2;
  grid-column: 5 / -1;
}





footer{
  bottom: 0px;
  background-color: #0e1417;
  color: white;
  /*position: fixed;*/
}

.footer_h{
  font-family:'Fira Sans Extra Condensed',sans-serif;
  color:rgba(255,255,255,0.96);
  font-size:1rem;
  text-decoration:none;
  text-transform:uppercase
}

.svg_icon_footer{
  height:calc(1.5rem + 0.1vw);
  width:calc(1.5rem + 0.1vw);
  margin-right:1rem;margin-left:1rem;
  text-decoration:none;
  stroke:rgba(255,255,255,0.96);
  stroke-width:1
}
  
.svg_icon_footer:hover{
  height:calc(1.5rem + 0.1vw);
  width:calc(1.5rem + 0.1vw);
  margin-right:1rem;
  margin-left:1rem;
  stroke:rgba(255,255,255,0.5);
  stroke-width:1;
  transform:scale(.96,.96)
}

a .svg_icon_footer{
  text-decoration:none;
  stroke:rgba(255,255,255,0.96)
}

.grid_footer_row{
  grid-area:footer;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:auto;
  grid-gap:2rem;
  justify-items:center;
  align-items:center
}

.footer_row_item{
  width:100%;
  justify-self:center;
  align-self:start;
  text-align:center
}

.footer_row_item_text{
  font-family:'Fira Sans Extra Condensed',sans-serif;
  text-align:center;
  font-size:1rem;
  color:rgba(255,255,255,0.96);
  padding-left:2rem;
  padding-right:2rem}

.font_h{
  font-family:'Fira Sans Extra Condensed',sans-serif
}

.sectionHeadlineFooter{
  color:#29333a;
  font-family:'Fira Sans Extra Condensed',sans-serif;
  font-size:calc(1.618rem + 1.618vw);
  line-height:1.168;
  font-weight:500;
  letter-spacing:.04em;
  text-align:center;
  margin:0;
  padding:0;
  padding-left:calc(1rem + 1vw);
  padding-right:calc(1rem + 1vw);
  margin-top:6rem;
  margin-bottom:3rem
}

.footer_logos{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(6rem,6rem));
  grid-template-rows:3rem;
  justify-content:center;
  justify-items:center;
  align-items:center;
  grid-gap:2rem}

.footer_logo_item_container{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%
}

.footer_logo_item{
  width:100%;
  max-height:100%;
  -o-object-fit:contain;
  object-fit:contain;
  cursor: pointer;
}

.navbar_toggle{
visibility: hidden;
}

.headerDiv-mobile{
  visibility:hidden;
}
/* mobiili osa */

@media screen and (max-width: 800px){
  
  .infotext_left{
    width: 100%;
    font-size: 2rem;
  }

  .infotext_right{
    width: 100%;
    font-size: 0.5rem;
  }

  .infotext{
    height: 7rem;
    float: none;
  }

  
  .navbar_toggle{
    visibility: visible;
    position: absolute;
    right: 5px;
  }

  .bar{
    position: relative;
    display: flex;
    flex-direction: column;
    background: gray;
    width: 25px;
    top: 20px;
    height: 3px;
    margin: 5px 5px;
  }

 

  .headerDivv{
    visibility: hidden;
    display: contents;
  }

  .headerDiv-mobile{
    margin-top: -10px;
    visibility: visible;
    position: sticky;
  }

  .fiveBlock{
    align-items: stretch;
    justify-content: stretch;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .card{
    grid-column: 1 / -1;
    grid-row: auto;
    width: 100vw;
  }


  .infotextContainer{
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }



}

@media screen and (min-width: 800px){
  .trio_block{
      display: grid ;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 0;
      padding-top: 6rem;
      padding-bottom: 6rem;
  }
}